body {
	background-color: #fff;
	color: #000000;	
	font-family: 'Istok Web', Helvetica, Arial, FreeSans, sans-serif;
	font-size: 0.8em;
	margin: 0px;
}

.title {
  color: #fff;
  font-size: 14pt;
  padding: 5px;
}

span {
	font-size: 0.9em;	
}

/* div magic styles */
.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.hide {
	display: none;
}

.show {
	display: block;
}


#toolbar {
	background: #06f;	
	margin: 0px;
	padding: 0px;		
	position: fixed;
	top: 0px;
	width: 100%;
	height: 32px;
}

.search {
	position: fixed;
	top: 5px;
	height: 24px;
	float: right;
	right: 10px;
}

/* search input styles */
#search {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;  
}

#content {
	margin-top: 10px;
	padding: 0px;
	width: 100%;
	overflow: hidden;	
}

#message {
	font-size: .9em;	
	color: #f60;	
	margin: 10px;
}

.message {
	height: 20px;
	padding: 10px;
}

.progress {
	border: solid 1px #AACFE4;
	height: 4px;
	width: 100%;
	margin-bottom: 5px;
}

.progress-bar {
	background-color: #f60;
	height: 4px;
	width: 25%;
}

/* data vis container styles */
.container {
 padding: 0px;
 margin: 0px;
 width: 100%;
}

.map, .data, .graph {
	background-color: #eee;
	border: solid 1px #AACFE4;
	border-radius: 0px;
	box-shadow: 0px 0px 10px #ccc;	
	margin: 0px;	
  /*overflow: hidden;*/
}

.data {
	background-color: #fff;	
	/*overflow-y: scroll;*/
}

/* menu link styles */
a {
	color: #06f;
  	text-decoration: none;
	font-size: 8pt;
}

/* data list item styles */
.data-list {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	list-style: none;	
}

.data-list li {
 	border: 0px;
	border-collapse: collapse;
	background-color: #fff;
	margin: 0px;
	padding: 5px;
}

.data-list > li[class=selected] {
	background-color: #e0e0e0;
}

.list-item {
	border: 0px;	
 	border-top: solid 1px #ccc;
	background-color: #fff;
	padding: 5px;	
	width: 100%;
	display: inline-block;
}

.list-item-footer {
	padding: 0px;	
}

.list-item-text {
 	border: 0px;
	background-color: #fff;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}

.map-link, .list-item-link {
	padding: 0px;
	margin: 0px;
}


/* app text elements + link styles */
.footer, .label {
	font-size: .8em;	
	color: #333;
	margin: 0px;
}

.popup-content {
	display: inline;
	width: 100%;
	font-size: 1.2em;
}

.date {
	font-size: 0.9em;	
	padding-left: 5px;
}

.link {
	font-size: 0.9em;
	color: #06f;
}

.hits {
	display: inline;
	width: 100%;
	font-size: .9em;
}


/* stats, data color coding + legends styles */
#statsBar {
	display: none;
	font-size: .9em;
}

.legend {
	margin: 0px;
	padding: 0px;
	width: 8px;
	height: 48px;
	overflow: hidden;
}

.legend-box {
	width: 8px;
	height: 32px;	
	margin: 0px;
	padding: 0px;
	display: inline-block;
}

.legend-text {
	font-size: 0.8em;	
}

.red-box, .negative {	
	background-color: #f00;
}

.orange-box {
	background-color: #f60;
}

.green-box, .positive {
	background-color: #0c0;
}

.blue-box, .neutral {
	background-color: #06f;
}

.yellow-box {
	background-color: #ff0;
}

.grey-box, .unknown {
	background-color: #999;
}

.bar {
	stroke-width: 1px;
	stroke: #666;
}

.red, .negative {
	color: #f00;
	fill: #f00;
}

.orange {
	color: #f60;
	fill: #f60;
}

.green, .positive {
	color: #0c0;
	fill: #0c0;
}

.blue, .neutral {
	color: #06f;
	fill: #39f;
}

.yellow {
	fill: #ff0;
}

.grey, .unknown {
	fill: #999;
}

/* graph styles */
.scroll {
	cursor: ew-resize;
	fill: #eee;
}

.bar:hover {
	stroke-width: 1px;
	stroke: #000;
	cursor: pointer;
}

div.tooltip {   
  background: #cce5ff;
  border: solid 1px #aacfe4;
  border-radius: 5px;
  padding: 5px;             	
  width: 110px;
  height: 110px;                 
  pointer-events: none;         
  position: absolute;
	top: 0px;
  text-align: left;	
}

#footer {
	position: fixed;
	bottom: 0px;
	height: 24px;
	float: right;
	right: 10px;
}